:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

.buttons {
  position: fixed;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .button {
    cursor: pointer;
    background: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    img {
      width: 45px;
    }
  }
}

.seeFromAbove {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  height:50px;
  background: #00000060;
  padding:8px 16px;
  border-radius: 12px 12px 0 0;
}
